@model suggestionbox.Models.Suggestion

@{
    ViewData["Title"] = "Create";
    var list = (List<SelectListItem>)ViewData["typelist"];
}

<h1>Create</h1>

<h4>Suggestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Onderwerp</label>
                <input asp-for="subject" class="form-control" required/>
                <span asp-validation-for="subject" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Beschrijving</label>
                <input asp-for="description" class="form-control" required/>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Gebruiker Id</label>
                <input asp-for="userId" type="number" class="form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Gebruikersnaam</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Suggestie type</label>
                <select asp-for="suggestionTypeId" class="form-control" asp-items="@list" required></select>
                <span asp-validation-for="suggestionTypeId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Start datum</label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Eind datum</label>
                <input asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Categorieën</label>
                <input asp-for="categories" class="form-control" />
                <span asp-validation-for="categories" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
